
  
  .images-container {
    display: flex;
    gap: 0.5rem; /* Espacio entre las imágenes */
    overflow-x: auto; /* Activar scroll horizontal */
    scroll-snap-type: x mandatory; /* Activar scroll snap */
    padding-bottom: 1rem; /* Añadir espacio para el scroll */
  }
  
  .gallery-image {
    width: 300px; /* Ajusta el tamaño de las imágenes según lo necesario */
    height: auto;
    scroll-snap-align: start; /* Alinear las imágenes al inicio en el scroll */
    object-fit: cover; /* Ajuste de la imagen dentro del marco */
    border-radius: 8px;
  }
  