.place-details-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
  /* font-family: Arial, sans-serif; */
}
  /* Botón con estilo de viaje */
.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 13px;
  color: #ffffff;
  background-color: #509cff; /* Color coral */
  border: 2px solid #509cff; /* Bordes más oscuros */
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
  background-color: #509cff; /* Coral más oscuro en hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
  transform: translateY(-2px) scale(1.05); /* Efecto flotante */
}

.back-button:active {
  background-color: #509cff; /* Coral aún más oscuro en clic */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); /* Sombra reducida */
  transform: translateY(1px) scale(0.98); /* Pequeño encogimiento */
}

.button-container {
  display: flex;
  justify-content: right;
}