.header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  font-size: 100px;
}

.flag-icon {
  width: 40px;
  height: 30px;
}

.location-info h1 {
  font-size: 24px;
  margin: 0;
}

.location-info h2 {
  font-size: 16px;
  margin: 0;
  color: #666;
}



.details-section p {
  font-size: 16px;
  line-height: 1.6;
}




